<h1>Clinica Web - Sistema de administracion de turnos</h1>
<hr/>
<h2>Administracion de Perfiles</h2>
<hr/>
<h3>Profile creation</h3>
<hr/>
<p>Id.: <%= @profile.id %> </p>
<p>Name: <%= @profile.name %> </p>
<hr/>
<%= link_to "Index", action: 'index' %>
<hr/>
<p>copyrigth - fecha - usuario - perfil</p>
